<!-- Start header Area -->
<section class="header-area header-ten">
   <div class="verticle-lines">
      <div class="vlines one"></div>
      <div class="vlines two"></div>
      <div class="vlines three"></div>
      <div class="vlines four"></div>
   </div>
   <!-- Single Slider -->
   <div class="header-inner">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-6 co-12">
               <div class="home-slider">
                  <div class="header-text">
                     <h6>LET’S SHIFT YOUR BUSINESS</h6>
                     <h1>
                        Shift your business<br />
                        fast with us.
                     </h1>
                     <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since.
                     </p>
                     <div class="light-rounded-buttons">
                        <a href="javascript:void(0)" class="btn primary-btn">
                        Discover More
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-12">
               <div class="header-image">
                  <img
                     class="shape3"
                     src="https://cdn.ayroui.com/1.0/images/header/header-10/shape3.png"
                     alt="#"
                     />
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--/ End Single Slider -->
</section>
<!--/ End header Area -->