<!-- Start header Area -->
<section class="header-area header-twelve">
   <!-- Single Slider -->
   <div class="header-inner">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 co-12">
               <div class="home-slider">
                  <div class="header-text">
                     <h5 class="small">Hello There...</h5>
                     <h1><span>I am</span> Stiven Milner</h1>
                     <ul>
                        <li>Web Developer</li>
                        <li>Graphics Designer</li>
                        <li>Ui/Ux Designer</li>
                     </ul>
                     <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since.
                     </p>
                     <div class="button light-rounded-buttons">
                        <a href="javascript:void(0)" class="btn primary-btn">
                        Hire Me Now!
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-12">
               <div class="personal-image">
                  <img src="https://cdn.ayroui.com/1.0/images/header/header-12/man.png" alt="#" />
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--/ End Single Slider -->
</section>
<!--/ End header Area -->