<!--====== HEADER SEVEN PART START ======-->
<section class="header-area header-seven mb-100">
   <div class="header-content-area">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 offset-lg-2 col-12">
               <div class="header-content">
                  <div class="header-image image-one d-none d-md-block">
                     <img
                        src="https://cdn.ayroui.com/1.0/images/header/h-image-1.svg"
                        alt="Header"
                        />
                  </div>
                  <div class="header-image image-tow d-none d-md-block">
                     <img
                        src="https://cdn.ayroui.com/1.0/images/header/h-image-2.svg"
                        alt="Header"
                        />
                  </div>
                  <div class="header-content-wrapper text-center">
                     <h3 class="header-title">Get in touch</h3>
                     <p class="text">
                        The proof of the pudding is in the eating. Instead of
                        telling, we prefer showing
                     </p>
                     <div class="header-btn rounded-buttons">
                        <a
                           class="btn primary-btn rounded-full"
                           href="javascript:void(0)"
                           >
                        CONTACT US
                        </a>
                     </div>
                  </div>
               </div>
               <!-- header content -->
            </div>
         </div>
         <!-- row -->
      </div>
      <!-- container -->
   </div>
   <!-- header content area -->
</section>
<!--====== HEADER SEVEN PART ENDS ======-->