<!-- Start header Area -->
<section id="header-area" class="header-area header-eleven">
   <img
      class="shape"
      src="https://cdn.ayroui.com/1.0/images/header/header-11/img-wave.png"
      alt="#"
      />
   <!-- Single Slider -->
   <div class="header-inner">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-6 co-12">
               <div class="home-slider">
                  <div class="header-text">
                     <h1>Make the world's Software more Accessible</h1>
                     <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since.
                     </p>
                     <div class="button light-rounded-buttons">
                        <a href="javascript:void(0)" class="btn primary-btn">
                        Download Now
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-12">
               <div class="mobile-screen">
                  <img
                     src="https://cdn.ayroui.com/1.0/images/header/header-11/app-overview.png"
                     alt="#"
                     />
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--/ End Single Slider -->
</section>
<!--/ End header Area -->