<!--====== HEADER FOUR PART START ======-->
<section class="header-area header-four">
   <div class="header-content-area">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
               <div class="header-content text-center">
                  <h3 class="header-title">Curious to Learn More? Stay Tune</h3>
                  <p class="text">
                     Stop wasting time and money designing and managing a website
                     that doesn’t get results. Happiness guaranteed!
                  </p>
                  <div class="header-newsletter">
                     <form action="#">
                        <i class="lni lni-envelope"></i>
                        <input type="text" placeholder="john@email.com" />
                        <div class="header-btn rounded-buttons">
                           <button class="btn primary-btn rounded-full">
                           SUBSCRIBE
                           </button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <!-- row -->
      </div>
      <!-- container -->
      <div class="header-image">
         <img src="https://cdn.ayroui.com/1.0/images/header/header-4.svg" alt="Header" />
      </div>
   </div>
   <!-- header content area -->
</section>
<!--====== HEADER FOUR PART ENDS ======-->