<!--====== Glightbox  Css ======-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />

<!-- Start header Area -->
<section class="header-area header-nine">
   <div class="main__circle"></div>
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6 col-md-12 col-12">
            <div class="header-content">
               <h6>
                  Feel Like Pro
                  <svg
                     style="display: inline-block; margin-left: 5px"
                     width="14"
                     height="16"
                     viewBox="0 0 14 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                     >
                     <path
                        d="M0.694085 7.80312C0.694085 7.80312 1.32621 8.73178 2.65108 9.51784C2.65108 9.51784 1.69155 1.40841 7.94352 0C6.34174 5.87878 9.98102 7.53669 11.3076 4.43081C13.523 7.38866 11.8409 9.96922 11.8409 9.96922C12.7493 10.1001 13.5124 9.10766 13.5124 9.10766C13.5192 9.22991 13.523 9.353 13.523 9.47697C13.5231 13.0795 10.6026 16 6.99999 16C3.3974 16 0.476929 13.0795 0.476929 9.47694C0.476929 8.89825 0.552679 8.33731 0.694085 7.80312Z"
                        fill="#FF6536"
                        />
                     <path
                        d="M13.5124 9.10766C13.5124 9.10766 12.7494 10.1001 11.841 9.96922C11.841 9.96922 13.5231 7.38866 11.3077 4.43081C9.98106 7.53669 6.34178 5.87878 7.94356 0C7.60872 0.0754375 7.29472 0.170219 7 0.281812V16C10.6026 16 13.5231 13.0795 13.5231 9.47694C13.5231 9.35297 13.5193 9.22991 13.5124 9.10766Z"
                        fill="#FF421D"
                        />
                     <path
                        d="M4.14062 13.139C4.14062 14.7189 5.42144 15.9998 7.00138 15.9998C8.58131 15.9998 9.86213 14.7189 9.86213 13.139C9.86213 12.2933 9.49522 11.5334 8.91187 11.0097C7.80581 12.5123 6.22963 10.2329 7.458 8.56836C7.458 8.56836 4.14062 8.98408 4.14062 13.139Z"
                        fill="#FBBF00"
                        />
                     <path
                        d="M9.86075 13.1392C9.86075 12.2936 9.49384 11.5336 8.9105 11.0099C7.80444 12.5126 6.22825 10.2332 7.45662 8.5686C7.45662 8.5686 7.27637 8.59126 7 8.67848V16C8.57994 16 9.86075 14.7192 9.86075 13.1392Z"
                        fill="#FFA900"
                        />
                  </svg>
               </h6>
               <h1>
                  <span> A Complete Template </span>
                  <span>For SaaS</span>
                  <span> And Startup </span>
                  <span class="color2"> Websites </span>
               </h1>
               <p>
                  Power your business to new heights with our award-winning
                  digital marketing services and technology platform.
               </p>
               <div class="button">
                  <div class="light-rounded-buttons">
                     <a href="javascript:void(0)" class="btn primary-btn">
                     Get started
                     </a>
                  </div>
                  <a
                     href="https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM"
                     class="glightbox video"
                     >
                  <span class="btn primary-btn-outline icon-btn rounded-full">
                  <i class="lni lni-play"></i>
                  </span>
                  <span class="video-text">Intro Video</span>
                  </a>
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-12">
            <div class="header-image">
               <svg
                  class="shape"
                  width="106"
                  height="134"
                  viewBox="0 0 106 134"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  >
                  <circle
                     cx="1.66654"
                     cy="1.66679"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="1.66654"
                     cy="16.3335"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="1.66654"
                     cy="31.0001"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="1.66654"
                     cy="45.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="1.66654"
                     cy="60.3335"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="1.66654"
                     cy="88.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="1.66654"
                     cy="117.667"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="1.66654"
                     cy="74.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="1.66654"
                     cy="103"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="1.66654"
                     cy="132"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="16.3333"
                     cy="1.66679"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="16.3333"
                     cy="16.3335"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="16.3333"
                     cy="31.0001"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="16.3333"
                     cy="45.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="16.333"
                     cy="60.3335"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="16.333"
                     cy="88.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="16.333"
                     cy="117.667"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="16.333"
                     cy="74.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="16.333"
                     cy="103"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="16.333"
                     cy="132"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="30.9998"
                     cy="1.66679"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="74.6665"
                     cy="1.66679"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="30.9998"
                     cy="16.3335"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="74.6665"
                     cy="16.3335"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="30.9998"
                     cy="31.0001"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="74.6665"
                     cy="31.0001"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="30.9998"
                     cy="45.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="74.6665"
                     cy="45.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="31"
                     cy="60.3335"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="74.6668"
                     cy="60.3335"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="31"
                     cy="88.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="74.6668"
                     cy="88.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="31"
                     cy="117.667"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="74.6668"
                     cy="117.667"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="31"
                     cy="74.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="74.6668"
                     cy="74.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle cx="31" cy="103" r="1.66667" fill="#DADADA"></circle>
                  <circle
                     cx="74.6668"
                     cy="103"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle cx="31" cy="132" r="1.66667" fill="#DADADA"></circle>
                  <circle
                     cx="74.6668"
                     cy="132"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="45.6665"
                     cy="1.66679"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="89.3333"
                     cy="1.66679"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="45.6665"
                     cy="16.3335"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="89.3333"
                     cy="16.3335"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="45.6665"
                     cy="31.0001"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="89.3333"
                     cy="31.0001"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="45.6665"
                     cy="45.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="89.3333"
                     cy="45.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="45.6665"
                     cy="60.3335"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="89.3333"
                     cy="60.3335"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="45.6665"
                     cy="88.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="89.3333"
                     cy="88.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="45.6665"
                     cy="117.667"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="89.3333"
                     cy="117.667"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="45.6665"
                     cy="74.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="89.3333"
                     cy="74.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="45.6665"
                     cy="103"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="89.3333"
                     cy="103"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="45.6665"
                     cy="132"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="89.3333"
                     cy="132"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="60.3333"
                     cy="1.66679"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="104"
                     cy="1.66679"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="60.3333"
                     cy="16.3335"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="104"
                     cy="16.3335"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="60.3333"
                     cy="31.0001"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="104"
                     cy="31.0001"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="60.3333"
                     cy="45.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="104"
                     cy="45.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="60.333"
                     cy="60.3335"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="104"
                     cy="60.3335"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="60.333"
                     cy="88.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="104"
                     cy="88.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="60.333"
                     cy="117.667"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="104"
                     cy="117.667"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="60.333"
                     cy="74.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="104"
                     cy="74.6668"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle
                     cx="60.333"
                     cy="103"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle cx="104" cy="103" r="1.66667" fill="#DADADA"></circle>
                  <circle
                     cx="60.333"
                     cy="132"
                     r="1.66667"
                     fill="#DADADA"
                     ></circle>
                  <circle cx="104" cy="132" r="1.66667" fill="#DADADA"></circle>
               </svg>
               <img src="https://cdn.ayroui.com/1.0/images/header/hero-9.jpg" alt="Image" />
            </div>
         </div>
      </div>
   </div>
</section>
<!-- End header Area -->

<!--====== Glightbox js ======-->
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

<script>
      //========= glightbox
      const videoTwo = GLightbox({
        selector: ".glightbox",
        type: "video",
        source: "youtube", //vimeo, youtube or local
        width: 900,
        autoplayVideos: true,
      });
 </script>