<!--====== Glightbox  Css ======-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />

<!--====== HEADER FIVE PART START ======-->
<section class="header-area header-five">
   <div
      id="home"
      class="header-hero bg_cover"
      style="background-image: url(https://cdn.ayroui.com/1.0/images/header/header-5.jpg)"
      >
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
               <div class="header-content text-center">
                  <h3 class="header-title">
                     We’re storytellers, thinkers and problem solvers
                  </h3>
                  <p class="text">
                     We’re a design studio that creates beautiful digital products,
                     brands and experiences for amazing companies and disruptive
                     startups.
                  </p>
                  <ul class="header-btn rounded-buttons">
                     <li>
                        <a
                           class="btn primary-btn rounded-full"
                           href="javascript:void(0)"
                           >
                        GET IN TOUCH
                        </a>
                     </li>
                     <li>
                        <a
                           class="
                           btn
                           primary-btn-outline
                           rounded-full
                           icon-right
                           glightbox
                           "
                           href="https://www.youtube.com/watch?v=r44RKWyfcFw"
                           >
                        WATCH THE VIDEO <i class="lni lni-play"></i>
                        </a>
                     </li>
                  </ul>
               </div>
               <!-- header content -->
            </div>
         </div>
         <!-- row -->
      </div>
      <!-- container -->
      <div class="header-shape">
         <img src="https://cdn.ayroui.com/1.0/images/header/header-shape-2.svg" alt="shape" />
      </div>
   </div>
   <!-- header content -->
</section>
<!--====== HEADER FIVE PART ENDS ======-->

<!--====== Glightbox js ======-->
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

<script>
      //========= glightbox
      const videoTwo = GLightbox({
        selector: ".glightbox",
        type: "video",
        source: "youtube", //vimeo, youtube or local
        width: 900,
        autoplayVideos: true,
      });
 </script>