<!--====== SLIDER FIVE PART START ======-->
<section class="slider-five">
   <div id="carouselFive" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
         <li data-bs-target="#carouselFive" data-bs-slide-to="0" class="active"></li>
         <li data-bs-target="#carouselFive" data-bs-slide-to="1"></li>
         <li data-bs-target="#carouselFive" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
         <div class="carousel-item bg_cover active" style="
            background-image: url(https://cdn.ayroui.com/1.0/images/slider/slider-five/1.jpg);
            "></div>
         <div class="carousel-item bg_cover" style="
            background-image: url(https://cdn.ayroui.com/1.0/images/slider/slider-five/2.jpg);
            "></div>
         <div class="carousel-item bg_cover" style="
            background-image: url(https://cdn.ayroui.com/1.0/images/slider/slider-five/3.jpg);
            "></div>
      </div>
      <a class="carousel-control-prev" href="#carouselFive" role="button" data-bs-slide="prev">
      <i class="lni lni-arrow-left"></i>
      </a>
      <a class="carousel-control-next" href="#carouselFive" role="button" data-bs-slide="next">
      <i class="lni lni-arrow-right"></i>
      </a>
   </div>
   <div class="container-fluid">
      <div class="row justify-content-end">
         <div class="col-lg-6">
            <div class="slider-content">
               <h2 class="slider-title">Curious to Learn More? Stay Tune</h2>
               <p class="text">
                  You let us know whenever you want us to update anything or think
                  something can be optimised.
               </p>
               <div class="slider-newsletter">
                  <i class="lni lni-envelope"></i>
                  <input type="text" placeholder="john@email.com" />
                  <div class="slider-btn">
                     <button class="btn primary-btn" type="submit">
                     Subscribe
                     </button>
                  </div>
               </div>
            </div>
            <!-- slider-content -->
         </div>
      </div>
      <!-- row -->
   </div>
   <!-- container -->
</section>
<!--====== SLIDER FIVE PART ENDS ======-->