<!--====== SLIDER_ FOUR PART START ======-->
<section class="slider-four">
   <div id="carouselThree" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
         <li
            data-bs-target="#carouselThree"
            data-bs-slide-to="0"
            class="active"
            ></li>
         <li data-bs-target="#carouselThree" data-bs-slide-to="1"></li>
         <li data-bs-target="#carouselThree" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6">
                     <div class="slider-content">
                        <h1 class="title">Every business is now digital</h1>
                        <p class="text">
                           There are many variations of passages of Lorem Ipsum
                           available, but the majority have suffered alteration.
                        </p>
                        <ul class="slider-btn rounded-buttons">
                           <li>
                              <a
                                 class="btn primary-btn rounded-full"
                                 href="javascript:void(0)"
                                 >
                              GET STARTED
                              </a>
                           </li>
                           <li>
                              <a
                                 class="btn primary-btn-outline rounded-full"
                                 href="javascript:void(0)"
                                 >
                              DOWNLOAD
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <!-- row -->
            </div>
            <!-- container -->
            <div class="slider-image-box d-none d-lg-flex align-items-end">
               <div class="slider-image">
                  <img
                     src="https://cdn.ayroui.com/1.0/images/slider/slider-four/slider1.png"
                     alt="Hero"
                     />
               </div>
               <!-- slider-imgae -->
            </div>
            <!-- slider-imgae box -->
         </div>
         <!-- carousel-item -->
         <div class="carousel-item">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6">
                     <div class="slider-content">
                        <h1 class="title">Every business is now digital</h1>
                        <p class="text">
                           There are many variations of passages of Lorem Ipsum
                           available, but the majority have suffered alteration.
                        </p>
                        <ul class="slider-btn rounded-buttons">
                           <li>
                              <a
                                 class="btn primary-btn rounded-full"
                                 href="javascript:void(0)"
                                 >
                              GET STARTED
                              </a>
                           </li>
                           <li>
                              <a
                                 class="btn primary-btn-outline rounded-full"
                                 href="javascript:void(0)"
                                 >
                              DOWNLOAD
                              </a>
                           </li>
                        </ul>
                     </div>
                     <!-- slider-content -->
                  </div>
               </div>
               <!-- row -->
            </div>
            <!-- container -->
            <div class="slider-image-box d-none d-lg-flex align-items-end">
               <div class="slider-image">
                  <img
                     src="https://cdn.ayroui.com/1.0/images/slider/slider-four/slider2.png"
                     alt="Hero"
                     />
               </div>
               <!-- slider-imgae -->
            </div>
            <!-- slider-imgae box -->
         </div>
         <!-- carousel-item -->
         <div class="carousel-item">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6">
                     <div class="slider-content">
                        <h1 class="title">Every business is now digital</h1>
                        <p class="text">
                           There are many variations of passages of Lorem Ipsum
                           available, but the majority have suffered alteration.
                        </p>
                        <ul class="slider-btn rounded-buttons">
                           <li>
                              <a
                                 class="btn primary-btn rounded-full"
                                 href="javascript:void(0)"
                                 >
                              GET STARTED
                              </a>
                           </li>
                           <li>
                              <a
                                 class="btn primary-btn-outline rounded-full"
                                 href="javascript:void(0)"
                                 >
                              DOWNLOAD
                              </a>
                           </li>
                        </ul>
                     </div>
                     <!-- slider-content -->
                  </div>
               </div>
               <!-- row -->
            </div>
            <!-- container -->
            <div class="slider-image-box d-none d-lg-flex align-items-end">
               <div class="slider-image">
                  <img
                     src="https://cdn.ayroui.com/1.0/images/slider/slider-four/slider3.png"
                     alt="Hero"
                     />
               </div>
               <!-- slider-imgae -->
            </div>
            <!-- slider-imgae box -->
         </div>
         <!-- carousel-item -->
      </div>
      <a
         class="carousel-control-prev"
         href="#carouselThree"
         role="button"
         data-bs-slide="prev"
         >
      <i class="lni lni-arrow-left"></i>
      </a>
      <a
         class="carousel-control-next"
         href="#carouselThree"
         role="button"
         data-bs-slide="next"
         >
      <i class="lni lni-arrow-right"></i>
      </a>
   </div>
</section>
<!--====== SLIDER_ FOUR PART ENDS ======-->