<!--====== FOOTER EIGHT PART START ======-->
<footer class="footer-area footer-eight">
   <div class="footer-widget">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
               <div class="f-about">
                  <div class="logo">
                     <a href="javascript:void(0)">
                     <img
                        src="https://cdn.ayroui.com/1.0/images/footer/white-logo.svg"
                        alt="Logo"
                        />
                     </a>
                  </div>
                  <div class="footer-support">
                     <span class="number"
                        ><i class="lni lni-phone-set"></i> +8801234567890</span
                        >
                     <span class="mail"
                        ><i class="lni lni-envelope"></i> support@ayroui.com</span
                        >
                  </div>
                  <ul class="social">
                     <li>
                        <a href="javascript:void(0)">
                        <i class="lni lni-facebook-filled"></i>
                        </a>
                     </li>
                     <li>
                        <a href="javascript:void(0)">
                        <i class="lni lni-twitter-original"></i>
                        </a>
                     </li>
                     <li>
                        <a href="javascript:void(0)">
                        <i class="lni lni-instagram-filled"></i>
                        </a>
                     </li>
                     <li>
                        <a href="javascript:void(0)">
                        <i class="lni lni-linkedin-original"></i>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
               <div class="footer-link">
                  <h6 class="footer-title">Product & Services</h6>
                  <ul>
                     <li><a href="javascript:void(0)">Products</a></li>
                     <li><a href="javascript:void(0)">Business</a></li>
                     <li><a href="javascript:void(0)">Developer</a></li>
                  </ul>
               </div>
               <!-- footer link -->
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5">
               <div class="footer-link">
                  <h6 class="footer-title">Help & Suuport</h6>
                  <ul>
                     <li><a href="javascript:void(0)">Support Center</a></li>
                     <li><a href="javascript:void(0)">FAQ</a></li>
                     <li><a href="javascript:void(0)">Terms & Conditions</a></li>
                  </ul>
               </div>
               <!-- footer link -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
               <div class="footer-newsletter">
                  <h6 class="footer-title">Subscribe Newsletter</h6>
                  <div class="newsletter">
                     <form action="#">
                        <input type="text" placeholder="Your Email" />
                        <button type="submit">
                        <i class="lni lni-arrow-right-circle"></i>
                        </button>
                     </form>
                  </div>
                  <p class="text">
                     Subscribe weekly newsletter to stay upto date.
                  </p>
               </div>
               <!-- footer newsletter -->
            </div>
         </div>
         <!-- row -->
      </div>
      <!-- container -->
   </div>
   <!-- footer widget -->
   <div class="footer-copyright">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="copyright text-center">
                  <p class="text">Copyright © 2024 AyroUI. All Rights Reserved</p>
               </div>
            </div>
         </div>
         <!-- row -->
      </div>
      <!-- container -->
   </div>
   <!-- footer copyright -->
</footer>
<!--====== FOOTER EIGHT PART ENDS ======-->