<!-- Start Footer Area -->
<footer class="footer-area footer-twelve">
   <!-- Start Middle Top -->
   <div class="footer-middle">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
               <!-- Single Widget -->
               <div class="f-about footer-widget">
                  <div class="logo">
                     <a href="javascript:void(0)">
                     <img
                        src="https://cdn.ayroui.com/1.0/images/footer/white-logo.svg"
                        alt="Logo"
                        class="img-fluid"
                        />
                     </a>
                  </div>
                  <p>
                     Start building your creative website with our awesome template
                     Massive.
                  </p>
                  <div class="footer-social">
                     <ul>
                        <li>
                           <a href="javascript:void(0)"
                              ><i class="lni lni-instagram"></i
                              ></a>
                        </li>
                        <li>
                           <a href="javascript:void(0)"
                              ><i class="lni lni-twitter"></i
                              ></a>
                        </li>
                        <li>
                           <a href="javascript:void(0)"
                              ><i class="lni lni-linkedin"></i
                              ></a>
                        </li>
                     </ul>
                  </div>
               </div>
               <!-- End Single Widget -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
               <!-- Single Widget -->
               <div class="footer-widget f-link">
                  <h3>Pages</h3>
                  <ul>
                     <li><a href="javascript:void(0)">About Us</a></li>
                     <li><a href="javascript:void(0)">Our Services</a></li>
                     <li><a href="javascript:void(0)">Contact Us</a></li>
                     <li><a href="javascript:void(0)">Our Blog</a></li>
                  </ul>
               </div>
               <!-- End Single Widget -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
               <!-- Single Widget -->
               <div class="footer-widget f-link">
                  <h3>More Links</h3>
                  <ul>
                     <li><a href="javascript:void(0)">Topics</a></li>
                     <li><a href="javascript:void(0)">Terms of Use</a></li>
                     <li><a href="javascript:void(0)">Privacy Policy</a></li>
                     <li><a href="javascript:void(0)">License</a></li>
                  </ul>
               </div>
               <!-- End Single Widget -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
               <!-- Single Widget -->
               <div class="footer-widget f-link">
                  <h3>Support</h3>
                  <ul>
                     <li><a href="javascript:void(0)">Cookies</a></li>
                     <li><a href="javascript:void(0)">Forum</a></li>
                     <li><a href="javascript:void(0)">Support Team</a></li>
                     <li><a href="javascript:void(0)">Sitemap</a></li>
                  </ul>
               </div>
               <!-- End Single Widget -->
            </div>
         </div>
      </div>
   </div>
   <!--/ End Footer Middle -->
   <!-- Start Footer Bottom -->
   <div class="footer-bottom">
      <div class="container">
         <div class="inner">
            <div class="row">
               <div class="col-12">
                  <div class="left">
                     <p>
                        Designed and Developed by
                        <a href="javascript:void(0)" rel="nofollow" target="_blank">
                        AyroUI
                        </a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- End Footer Middle -->
</footer>
<!--/ End Footer Area -->