<!-- Start Footer Area -->
<footer class="footer-area footer-thirteen">
   <div class="footer-middle">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
               <!-- Single Widget -->
               <div class="f-about footer-widget">
                  <div class="logo">
                     <a href="javascript:void(0)">
                     <img
                        src="https://cdn.ayroui.com/1.0/images/footer/full-white-logo.svg"
                        alt="Logo"
                        class="img-fluid"
                        />
                     </a>
                  </div>
                  <p>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                     do eiusmod tempor incididunt.
                  </p>
                  <div class="footer-social">
                     <ul>
                        <li>
                           <a href="javascript:void(0)">
                           <i class="lni lni-facebook-original"></i>
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)">
                           <i class="lni lni-twitter-original"></i>
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)">
                           <i class="lni lni-linkedin-original"></i>
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)">
                           <i class="lni lni-google"></i>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
               <!-- End Single Widget -->
            </div>
            <div class="col-lg-8 col-md-8 col-12">
               <div class="row">
                  <div class="col-lg-3 col-md-6 col-12">
                     <!-- Single Widget -->
                     <div class="footer-widget sm-custom-border f-link">
                        <h3>About Us</h3>
                        <ul>
                           <li><a href="javascript:void(0)"> Home</a></li>
                           <li><a href="javascript:void(0)"> Features</a></li>
                           <li><a href="javascript:void(0)"> Explore</a></li>
                           <li><a href="javascript:void(0)"> Testimonials</a></li>
                        </ul>
                     </div>
                     <!-- End Single Widget -->
                  </div>
                  <div class="col-lg-3 col-md-6 col-12">
                     <!-- Single Widget -->
                     <div class="footer-widget sm-custom-border f-link">
                        <h3>Features</h3>
                        <ul>
                           <li><a href="javascript:void(0)"> Easy to use</a></li>
                           <li>
                              <a href="javascript:void(0)"> Work on all device</a>
                           </li>
                           <li>
                              <a href="javascript:void(0)"> Always up to date</a>
                           </li>
                           <li>
                              <a href="javascript:void(0)"> Track your devices</a>
                           </li>
                        </ul>
                     </div>
                     <!-- End Single Widget -->
                  </div>
                  <div class="col-lg-3 col-md-6 col-12">
                     <!-- Single Widget -->
                     <div
                        class="
                        footer-widget
                        md-custom-border
                        sm-custom-border
                        f-link
                        "
                        >
                        <h3>Services</h3>
                        <ul>
                           <li>
                              <a href="javascript:void(0)"> Digital Marketing</a>
                           </li>
                           <li><a href="javascript:void(0)"> Content Writing</a></li>
                           <li>
                              <a href="javascript:void(0)"> SEO for Business</a>
                           </li>
                           <li><a href="javascript:void(0)"> UI Design</a></li>
                        </ul>
                     </div>
                     <!-- End Single Widget -->
                  </div>
                  <div class="col-lg-3 col-md-6 col-12">
                     <!-- Single Widget -->
                     <div
                        class="
                        footer-widget
                        md-custom-border
                        sm-custom-border
                        f-contact
                        "
                        >
                        <h3>Contact Info</h3>
                        <ul>
                           <li>
                              <i class="lni lni-map-marker"></i> 113 Sassnex, White
                              House, New Jercy, USA
                           </li>
                           <li>
                              <i class="lni lni-envelope"></i> info@yourdomain.com
                           </li>
                           <li><i class="lni lni-phone"></i> +001 548 159 2491</li>
                        </ul>
                     </div>
                     <!-- End Single Widget -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--/ End Footer Middle -->
   <!-- Start Footer Bottom -->
   <div class="footer-bottom">
      <div class="container">
         <div class="inner">
            <div class="row">
               <div class="col-12">
                  <div class="left">
                     <p>
                        Designed and Developed by
                        <a href="javascript:void(0)" rel="nofollow" target="_blank">
                        AyroUI
                        </a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- End Footer Middle -->
</footer>
<!--/ End Footer Area -->